:root {
  --font-color: #1d3557;
  --border-color: #6c7fa7;
}

body {
  background: #c0d3fe;
}

main {
  width: 55vw;
  display: flex;
  margin: 77px auto;
  flex-direction: column;
}

h1 {
  display: inline;
  width: 200px;
  transform: rotate(-15deg);
  color: var(--font-color);
  font-size: 32px;
  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    color:red;
  }
}

.box{
  height: 200px;
  width: 200px;
  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    color:red;
  }
}

textarea {
  border: 5px solid #6c7fa7;
  border-radius: 21px;
  color: var(--font-color);
  height: 200px;
  padding: 15px 15px;
  background-color: whitesmoke;
  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    color:red;
  }
}

.button_box {
  display: flex;
  justify-content: flex-end;
}

button {
  transform: rotate(-15deg);
  border: 5px solid #6c7fa7;
  border-radius: 21px;
  background: #6c7fa7;
  color: var(--font-color);
  width: 100px;
  height: 30px;
  margin: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
}
